@font-face {
    font-family: 'Spock-font';
    src: url("../fonts/StarTrek_future.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
  }

:root {
    --spok-blue: #03e9f4;
    --spok-blue-deep: #0000ff;
}

* {
    background-color: black;
    color: aliceblue;
    max-width: 1500px;
    font-family: 'Roboto Mono', monospace;
    margin-left: auto;
    margin-right: auto;
}




