.header_container {
	background-color: #000;
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
}

.header_btn {
	
	border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 4px solid grey;
    box-shadow: 0 0 20px grey;
}
img{
	border-radius: 100%;
	
    
	width: 20px;
	height: 20px;
    
}

@media screen and (min-width: 480px) {
	.header_container {
		background-color: green;
	}
}

@media screen and (min-width: 768px) {
	.header_container {
		background-color: red;
	}
}

@media screen and (min-width: 950px) {
	.header_container {
		background-color: blue;
	}
}