

.home_container {
    /* background-color: yellow;  */
    display: flex;
	flex-direction: column;
	align-items: center;
    height: 100vh;

}
.home_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_form_input {
    width: 19em;
    height: 2em;
    margin: 0.5em;
    border-radius: 0.3em;
    border: 1px solid white;
    padding: 0.3em;
}

.home_form_btn {
    width: 19em;
    height: 2em;
    margin: 0.5em;
    border-radius: 0.3em;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.home_img_container {
    top: 6em;
    position: relative;
    width: 5em;
    height: 5em;
    padding: 2.8em;
    border-radius: 100%;
    margin: 1.75em auto 0; 
    border: 4px solid #03e9f4;
    box-shadow: 0 0 20px #03e9f4;
    animation: rotation 20s infinite linear;

}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.home_img_lizard {
    width: 4em;
    height: 4em;
    background-image: url(../../images/lizard.svg);
    border-radius: 10em;
    border: 4px solid #03e9f4;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px #03e9f4;
    position: relative;
    top: 60px;
    right: 47px;
}
.home_img_paper {
    width: 4em;
    height: 4em;
    background-image: url(../../images/paper.svg);
    border-radius: 10em;
    border: 4px solid #03e9f4;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px #03e9f4;
    position: relative;
    bottom: 88px;
    left: 81px;
}
.home_img_rock {
    width: 4em;
    height: 4em;
    background-image: url(../../images/rock.svg);
    border-radius: 10em;
    border: 4px solid #03e9f4;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px #03e9f4;
    position: relative;
    bottom: 219px;
    left: 6px;
}
.home_img_scissors {
    width: 4em;
    height: 4em;
    background-image: url(../../images/scissors.svg);
    border-radius: 10em;
    border: 4px solid #03e9f4;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px #03e9f4;
    position: relative;
    bottom: 150px;
    left: 47px;
}
.home_img_spock {
    width: 4em;
    height: 4em;
    background-image: url(../../images/spock.svg);
    border-radius: 10em;
    border: 4px solid #03e9f4;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px #03e9f4;
    position: relative;
    bottom: 317px;
    right: 66px;
}
@media screen and (min-width: 480px) {
    .home_container {
        background-color: green;
    }
}

@media screen and (min-width: 768px) {
    .home_container {
        background-color: red;
    }
}
    
@media screen and (min-width: 950px) {
    .home_container {
        background-color: blue;
    }
}