

.home_container {
    /* background-color: yellow;  */
    display: flex;
	flex-direction: column;
	align-items: center;
    height: 100vh;

}
.home_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_form_input {
    width: 300px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
}

.home_form_btn {
    width: 300px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.home_img_container {
    top: 50px;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    padding: 2.8em;
    border-radius: 100%;
    margin: 1.75em auto 0; 
    border: 4px solid #03e9f4;
    box-shadow: 0 0 20px #03e9f4;
    animation: rotation 10s infinite linear;

}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.home_img_lizard {
    width: 40px;
    height: 40px;
    margin: 10px;
    background-image: url(../../images/lizard.svg);
    border-radius: 170px;
    border: 4px solid #03e9f4;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px #03e9f4;
    position: relative;
    top: 27px;
    right: 54px;
}
.home_img_paper {
    width: 40px;
    height: 40px;
    margin: 10px;
    background-image: url(../../images/paper.svg);
    border-radius: 170px;
    border: 4px solid #03e9f4;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px #03e9f4;
    position: relative;
    bottom: 97px;
    left: 33px;
}
.home_img_rock {
    width: 40px;
    height: 40px;
    margin: 10px;
    background-image: url(../../images/rock.svg);
    border-radius: 170px;
    border: 4px solid #03e9f4;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px #03e9f4;
    position: relative;
    bottom: 193px;
    right: 23px;
}
.home_img_scissors {
    width: 40px;
    height: 40px;
    margin: 10px;
    background-image: url(../../images/scissors.svg);
    border-radius: 170px;
    border: 4px solid #03e9f4;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px #03e9f4;
    position: relative;
    bottom: 149px;
    left: 14px;
}
.home_img_spock {
    width: 40px;
    height: 40px;
    margin: 10px;
    background-image: url(../../images/spock.svg);
    border-radius: 170px;
    border: 4px solid #03e9f4;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px #03e9f4;
    position: relative;
    bottom: 270px;
    right: 74px;
}
@media screen and (min-width: 480px) {
    .home_container {
        background-color: green;
    }
}

@media screen and (min-width: 768px) {
    .home_container {
        background-color: red;
    }
}
    
@media screen and (min-width: 950px) {
    .home_container {
        background-color: blue;
    }
}